body {
  background-color: #272D4D;
}

#song-list {
  width: 100%;
  .card {
    list-style: none;
    margin: 1px;
    padding: 0;
    width: 200px;
    float: left;
    .album {
      width: 200px;
      height: 200px;
    }
    .artist {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 10px;
      width: 100%;
      background: #000;
      color: #D3EEE2;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 800;
      font-size: 1em;
      opacity: 0.8;
      -webkit-transition: -webkit-transform 0.2s, color 0.2s;
      transition: transform 0.2s, color 0.2s;
    }
    .song {
      position: relative;
      margin: 0;
      padding: 10px;
      width: 100%;
      background: #000;
      color: #D3EEE2;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 800;
      font-size: 1em;
    }

    &:hover .preview {
      position: absolute;
      bottom: 0;
      top: 50%;
      margin: 0;
      padding: 10px;
      background-color: #000;
      height: 60px;
      width: 60px;
    }
  }
}
